<header role="banner">
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container-fluid flex-nowrap align-items-center">
            <div class="col-md-6 col-lg-5 col-xl-4">
                <div class="row flex-nowrap align-items-center">
                    <div class="col-md-4 col-lg-3">
                        <a href="#" class="navbar-brand">
                            <img id="brand-logo" src="assets/images/home/assistant.svg">
                            ssistant
                        </a>
                    </div>
                    <div class="col-md-8">
                        <form>
                            <input id="global-search" type="search"  class="form-control" placeholder="Search" aria-label="Search">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-7 col-xl-8 text-right">
                <a routerLink="create">
                    <img src="assets/images/home/create.png" title="Add">
                </a>
            </div>
        </div>
    </div>
</header>
<router-outlet></router-outlet>
<footer class="text-muted border-top">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>2018 &copy; Cheney Hwang, No Fucking Laws.</p>
    </div>
</footer>

